.body{background-color:rgb(223, 231, 233);
padding-left: 30px; padding-top: 20px}
.h1{color:black;text-align: center;padding-bottom:30px;}
.lista{text-align:left;
    font-family: sans-serif;
    font-size: 12px; color:black}
.tutorial{text-align: center;color:black;}

.header{  margin-bottom: 40px;text-align: justify;}
.janela1{background-color: rgb(65, 225, 102); width: 500px;}
.container-footer{
    display: flex;
    justify-content: center;
}
.child-center {
    margin: 0 auto;
}
.invisivel {
    display: none;
}
.visivel {
    display: block;
}