.img-tabela
{ margin-top: 100px;
    padding-left: 200px;
    width:700px;
 
    margin-block-start: 0px;

}

.p3
{
    color: rgb(10, 2, 2);
  margin-left: 200px;
    margin-bottom: 10px;
    font-size: 25px;

}