.body{
    background-color:#c3ddbc
}
.h1{
    color: rgb(216, 15, 15); 
    text-shadow: 2px 2px 2px black; 
    margin-top:20px;
    margin-bottom:  rgb(31, 29, 29);
    text-align: center;
    font-family: sans-serif;
    font-size-adjust: 500px;
   /* font-size: 500px;*/
}
.h2{
    color: black;
    margin-top: 440px;
    font-family: sans-serif;
}
.p1{
    border: 10px;
    color: rgb(8, 8, 2);
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    text-align:justify;

}
.index-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:50px ; 
    text-align: center;     
}
.banner-index{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}
.index-form-wrapper label{
    color: black;
    text-align: center;
    font-size: 40px;
}
.img-Imagem-horta{ 
    margin-top: 10px;
  
    width:450px;
   
    
}
